
* {
    background-color: rgb(68, 68, 68);
    font-family: poppins,sans-serif;
}
b {
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(43, 214, 226);
}
h1{
    text-align: center;
    color: white;
}
p {
    color: darkblue;
}
.projects-box{
    width: 100%px;
    height: 400px;
    color: white;
}
a {
    color: rgb(43, 214, 226);
}